{% block body%}
<div class="img-thumbnail post_body" style="margin: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449); position: relative;">

        <div class="caption " style="height: 100%; overflow: hidden;">
            <div style="position: relative;">
                    <a href="{{ post.get_absolute_url }}" ><span class="div_link" ></span></a>

                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-thumbnail" style="max-height: 100px;">
                {% endif %}

                <h3 class="post_title">{{ post.title }}<h6 class="post_title">Yazar: {{ post.user.username }}</h6></h3>
                <hr>
                <p>{{ post.desc|safe|linebreaks|truncatechars:150 }}</p>

            </div>
            {% load static %}
            <div class="mt-auto">
                <hr>

                {% if request.user.is_authenticated %}

                    {% if post.id in upvoted_posts %}
                        <a href="/{{post.id}}/upvote" role="button"><img class="scale-hover" src="{% static 'img/upvote_fill.png' %}" alt=""></a>{{post.upvotes}} |
                    {% else %}
                        <a href="/{{post.id}}/upvote" role="button"><img class="scale-hover" src="{% static 'img/upvote.svg' %}" alt=""></a>{{post.upvotes}} |
                    {% endif %}

                    {% if post.user == request.user %}
                        <a href="{{ post.get_update_url }}" class="btn btn-primary button_shadow" role="button">Update</a>
                        <button type="button" class="btn btn-danger button_shadow" data-bs-toggle="modal" data-bs-target="#modal_{{ post.id }}">Delete</button>
                    {% endif %}
                    <small>{{ post.date|timesince}}</small>
                {% endif %}
            </div>
    </div>
</div>

{% endblock%}
