{% block body%}
<div class="img-thumbnail" style="margin: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449); position: relative;">

        <div class="caption " style="height: 100%; overflow: hidden;">
            <div style="position: relative;">
                    <a href="{{ post.get_absolute_url }}" ><span class="div_link" ></span></a>

                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-thumbnail" style="max-height: 100px;">
                {% endif %}

                <h3 class="post_title">{{ post.title }}<h6 class="post_title">Yazar: {{ post.user.username }}</h6></h3>
                <hr>
                <p>{{ post.desc|safe|linebreaks|truncatechars:150 }}</p>

                
                <hr>
            </div>

          <p style="margin: 0.2rem;">
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary button_shadow" role="button">More</a>
            <small>{{ post.date }}</small>  
        </p>
    </div>
</div>

{% endblock%}
