body{
    background-color: white;
}

.post_title{
    display: inline-block;
    margin-left: 0.5rem;
}
.post_body{
    margin: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);
}

.button_shadow{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.449);
}

.btn-primary{
    background-color: rgb(50, 50, 50);
    border-color: rgb(88, 88, 88);
}

.btn-primary:hover{
    background-color: rgb(88, 88, 88);
    border-color: rgb(100, 100, 100);
}

.btn-primary:active{
    background-color: rgb(123, 123, 123) !important;
    border-color: rgb(145, 145, 145) !important; 
}

.div_link{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}
/*https://stackoverflow.com/questions/796087/make-a-div-into-a-link*/