
.card{
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.post_title{
    display: inline-block;
    margin-left: 0.5rem;
}
.post_body{
    margin: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.post_body:hover{
    margin: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 100ms ease-out;
    transform: scale(1.02);
}

.post_body_noscale{
    margin: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.scale-hover{
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.scale-hover:hover{
    transform: scale(1.2);
}

.paginator-arrows{
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.paginator-arrows:hover{
    transform: scale(1.3);
}

.paginator-arrows-disabled{
    filter: opacity(25%);
}

.paginator-fixed{
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(#ffffff00, #ffffff);
    width: 100%;
    text-align: center;
}

.paginator-blog{
    height: 5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}


.nav-link{
    padding: 0.6rem;
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.nav-link:hover{
    padding: 0.6rem;
    transform: scale(1.2);
}


.button_shadow{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.449);
}

.btn-primary{
    background-color: rgb(50, 50, 50);
    border-color: rgb(88, 88, 88);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-primary:hover{
    background-color: rgb(88, 88, 88);
    border-color: rgb(100, 100, 100);
    transition: all 100ms ease-out;
    transform: scale(1.03);
}


.btn-primary-2{
    background-color: rgb(255, 210, 112);
    border-color: rgb(255, 211, 90);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-primary-2:hover{
    background-color: rgb(255, 140, 64);
    border-color: rgb(255, 211, 90);
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary-success{
    background-color: #8dff8d;
    border-color: #6ee06e;
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-primary-success:hover{
    background-color: #70e470;
    border-color: #55c555;
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary-disabled{
    background-color: #8a8a8a;
    border-color: rgb(73, 73, 73);
}

.btn-primary-disabled:hover{
    background-color: #7c7c7c;
    border-color: rgb(73, 73, 73);
}

.btn-primary-disabled-light{
    background-color: #b3b3b3;
    border-color: rgb(155, 155, 155);
}

.btn-primary-disabled-light:hover{
    background-color: rgb(134, 134, 134);
    border-color: rgb(155, 155, 155);
}

.btn-primary-disabled:active{
    background-color: #505050 !important;
    border-color: rgb(73, 73, 73);
}

.btn-danger{
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-danger:hover{
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary:active{
    background-color: rgb(123, 123, 123) !important;
    border-color: rgb(145, 145, 145) !important; 
}

.card-header{
    margin-bottom: -1rem;
    border-radius: 5px;
}


.div_link{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}
/*https://stackoverflow.com/questions/796087/make-a-div-into-a-link*/