body{
    background-color: white;
}

.post_title{
    display: inline-block;
    margin-left: 0.5rem;
}
.post_body{
    margin: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);
}

.button_shadow{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.449);
}

.btn-primary{
    background-color: rgb(50, 50, 50);
    border-color: rgb(88, 88, 88);
}

.btn-primary:hover{
    background-color: rgb(88, 88, 88);
    border-color: rgb(100, 100, 100);
}