
{% extends 'base_search.html'%}
{% load crispy_forms_tags  %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">
            
            <div class="d-flex mt-2">
            <h1>Welcome {{request.user}}</h1>
            <h5 class="ms-auto"> {% if request.user.is_staff %} Admin {% else %} User {% endif %}<img src="{% static 'img/admin_perms/account_activation_true.svg'%}" alt=""></h5>
            </div>

            <h6>Last Login {{request.user.last_login}}</h6>


            <div class="card">
                <ul class="nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/accounts/admin_panel/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/accounts/admin_panel/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/accounts/admin_panel/contacts">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="card table-responsive">
                <table class="table">
                <thead>
                    {% if data_category == "users"%}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Staff</th>
                        <th scope="col">SuperUser</th>
                        <th scope="col">Passwords</th>
                        <th scope="col">Active</th>
                        </tr>
                    {% elif data_category == "posts" %}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Posts</th>
                        <th scope="col">Upvotes</th>
                        <th scope="col">Views</th>
                        <th scope="col">UserIDs/Usernames</th>
                        <th scope="col">Actions</th>
                        </tr>
                    {% elif data_category == "contacts" %}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Adress</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">UserIDs/Accounts</th>
                        <th scope="col">Actions</th>
                        </tr>
                    {% else %}
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Select a option</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% if data_category == "users"%}
                        {% for admin_data in admin_datas%} <!-- Users -->
                            <tr>
                                <th scope="row">{{admin_data.id}}</th>
                                <td>{{admin_data}}</td>                      
                                      
                                {% include 'account_templates/modal_user_staff.html' %}
                                {% include 'account_templates/modal_user_superuser.html' %}
                                {% include 'account_templates/modal_active.html' %}
                                {% include 'account_templates/modal_password.html' %}

                                {% if request.user.is_staff %}
                                    {% if request.user.is_superuser %}

                                        {% if admin_data.is_staff %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_staff{{ admin_data.id }}"><img src="{% static 'img/admin_perms/admin_true.svg' %}" alt="Is Staff"></a></td>
                                        {% else %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_staff{{ admin_data.id }}"><img src="{% static 'img/admin_perms/admin_false.svg' %}" alt="Not Staff"></a></td>
                                        {% endif %}
                                        
                                        <!-- ####### this is for styling when its false or true -->

                                        {% if admin_data.is_superuser %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_superuser{{ admin_data.id }}"><img src="{% static 'img/admin_perms/admin_true.svg' %}" alt="Is SuperUser"></a></td>
                                        {% else %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_superuser{{ admin_data.id }}"><img src="{% static 'img/admin_perms/admin_false.svg' %}" alt="Not SuperUser"></a></td>
                                        {% endif %}

                                        <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_password{{ admin_data.id }}"><img src="{% static 'img/admin_perms/edit_normal.svg' %}" alt="Edit Password"></a></td>

                                        {% if admin_data.is_active %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_active{{ admin_data.id }}"><img src="{% static 'img/admin_perms/account_activation_true.svg' %}" alt="Activated"></a></td>
                                        {% else %}
                                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modal_active{{ admin_data.id }}"><img src="{% static 'img/admin_perms/account_activation_false.svg' %}" alt="Deactive"></a></td>
                                        {% endif %}
                                    {% else %}
                                        <td><img src="{% static 'img/admin_perms/disabled_visible.svg' %}" alt="Cant view"></td>
                                        <td><img src="{% static 'img/admin_perms/disabled_visible.svg' %}" alt="Cant view"></td>
                                        <td><img src="{% static 'img/admin_perms/disabled_visible.svg' %}" alt="Cant view"></td> 
                                        <td><img src="{% static 'img/admin_perms/disabled_visible.svg' %}" alt="Cant view"></td>
                                    {% endif %}
                                {% else %}
                                    <td><img src="{% static 'img/admin_perms/disabled_visible.svg' %}" alt="Cant view"></td>
                                    <td><img src="{% static 'img/admin_perms/disabled_visible.svg' %}" alt="Cant view"></td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    {% elif data_category == "posts" %}
                        {% for admin_data in admin_datas%} <!-- Posts -->
                            <tr>
                                <th scope="row">{{admin_data.id}}</th>
                                <td>{{admin_data}}</td>
                                <td><img src="{% static 'img/upvote.svg' %}" alt="Views">{{admin_data.upvotes}}</td>
                                <td><img src="{% static 'img/eye.svg' %}" alt="Views">{{admin_data.post_views}}</td>
                                <td>#{{admin_data.user.id}} {{admin_data.user.username}}</td>
                                <td>
                                    <a href="{{ admin_data.get_absolute_url }}"><img src="{% static 'img/eye.svg' %}" alt="View Post"></a>
                                    <a href="{{ admin_data.get_absolute_url }}"><img src="{% static 'img/post_action/edit.svg' %}" alt="Edit Post"></a>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal_{{ admin_data.id }}"><img src="{% static 'img/post_action/delete.svg' %}" alt="Delete Post"></a>
                                </td>
                            </tr>

                            {% include 'account_templates/modal_post.html' %}
                        {% endfor %}
                    {% elif data_category == "contacts" %}
                        {% for admin_data in admin_datas%} <!-- Contact -->
                            <tr>
                                <th scope="row">{{admin_data.id}}</th>
                                <td>{{admin_data.name}}</td>
                                <td>{{admin_data.surname}}</td>
                                <td>{{admin_data.adress}}</td>
                                <td>{{admin_data.user_gender}}</td>
                                <td>{{admin_data.email}}</td>
                                <td>#{{admin_data.user.id}} {{admin_data.user}}</td>
                                <td>
                                    <a href="{{ admin_data.get_modify_contact_adminpanel_url }}"><img src="{% static 'img/post_action/edit.svg' %}" alt="Edit Contact"></a>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal_contact{{ admin_data.id }}"><img src="{% static 'img/post_action/delete.svg' %}" alt="Delete Post"></a>
                                </td>
                            </tr>

                            {% include 'account_templates/modal_contact.html' %}
                        {% endfor %}
                    {% endif %}
                </tbody>
                </table>
            </div>

            <div class="paginator-fixed"> <!-- also adds paginator gradient -->
                <div class="pagination justify-content-center mt-5 m-4">
                    <span class="step-links">

                        {% if admin_datas.has_previous and admin_datas.has_next %}
                            <a  href="?page=1"><img class="paginator-arrows" src="{% static 'img/arrows/double_left.svg' %}" alt=""></a>
                            <a  href="?page={{ admin_datas.previous_page_number }}"><img class="paginator-arrows"  src="{% static '/img/arrows/left.svg' %}" alt=""></a>
                            
                            <span class="current">
                                Page {{ admin_datas.number }} of {{ admin_datas.paginator.num_pages }}
                            </span>

                            <a  href="?page={{ admin_datas.next_page_number }}"><img class="paginator-arrows" src="{% static '/img/arrows/right.svg' %}" alt=""></a>
                            <a   href="?page={{ admin_datas.paginator.num_pages }}"><img class="paginator-arrows" src="{% static 'img/arrows/double_right.svg' %}" alt=""></a>
                        {% elif admin_datas.has_previous %}

                            <a  href="?page=1"><img class="paginator-arrows" src="{% static 'img/arrows/double_left.svg' %}" alt=""></a>
                            <a  href="?page={{ admin_datas.previous_page_number }}"><img class="paginator-arrows"  src="{% static '/img/arrows/left.svg' %}" alt=""></a>
                           
                            <span class="current">
                                Page {{ admin_datas.number }} of {{ admin_datas.paginator.num_pages }}
                            </span>

                            <a><img class="paginator-arrows-disabled" src="{% static '/img/arrows/right.svg' %}" alt=""></a>
                            <a><img class="paginator-arrows-disabled" src="{% static 'img/arrows/double_right.svg' %}" alt=""></a>

                        {% elif admin_datas.has_next %}

                            <a><img class="paginator-arrows-disabled" src="{% static 'img/arrows/double_left.svg' %}" alt=""></a>
                            <a><img class="paginator-arrows-disabled"  src="{% static '/img/arrows/left.svg' %}" alt=""></a>

                            <span class="current">
                                Page {{ admin_datas.number }} of {{ admin_datas.paginator.num_pages }}
                            </span>

                            <a  href="?page={{ admin_datas.next_page_number }}"><img class="paginator-arrows" src="{% static '/img/arrows/right.svg' %}" alt=""></a>
                            <a   href="?page={{ admin_datas.paginator.num_pages }}"><img class="paginator-arrows" src="{% static 'img/arrows/double_right.svg' %}" alt=""></a>


                        {% endif %}
                    </span>
                </div>
            </div>

        </div>
    </div>
{% endblock %}