<!-- Navbar Start -->
 
{% load static %}
<nav class="navbar navbar-expand-lg" role="banner">
    <div class="container">

            <img src="{% static 'img/header/boat_sail_white.png'%}" alt="Home">
            <a href="/" class="nav-link navbar-brand text-light"> Home</a>

        <div class="d-flex sm-auto me-3">



            <!-- Arama Çubuğu -->
        
            <form class="mt-2" role="search" method="GET" action="">
                <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
                <button class="btn btn-outline-light text-dark" style="background-color: rgb(224, 224, 224);" type="submit">Search</button>
                </div>
            </form>

            <button class="navbar-toggler text-light ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" 
                aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'img/header/compas.png' %}" alt="">
            </button>

        </div>

        
        <!-- Temel Sayfalar -->
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="nav d-flex justify-content-start ms-auto    ">
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'post:create' %}">Create</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:logout' %}" data-bs-toggle="modal" data-bs-target="#modal_1">Logout</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'user_profile:test' %}">Profile</a></li>
                    {% if request.user.is_staff %}
                        <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:admin_panel' %}">Admin Panel</a></li>
                    {% endif %}
                {% else %}
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:signin' %}">Sign in</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post:index' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post:about'%}">About us</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post:contact'%}">Contact</a></li>
            </ul>
        </div>

                        <!-- Modal user logout -->
            <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="modalLabel_1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel_1">Logout User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to logout on user? <!--{{user.username}}-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary button_shadow" data-bs-dismiss="modal">No</button>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'accounts:logout' %}" class="btn btn-danger button_shadow" role="button">Logout</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</nav>
