
{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="container"> 
        <div class="row justify-content-center">
            <div class="col-md-10 mx-auto">
                <div class="img-thumbnail" style="margin: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);">
                    <div class="caption " style="overflow: hidden;">

                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Post Image" class="img-thumbnail">
                        {% endif %}

                        {% if messages %}
                        <ul class="messages">

                            <h3>{{ post.title }}<small>{{ post.date }}</small></h3>

                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}

                        </ul>
                        {% endif %}

                        <h3>{{post.title}}</h3>
                        <h6>Yazar: {{ post.user.username }}</h4>
                        <h4 style="overflow-wrap: break-word;">{{post.desc|safe}}</h4>

                        <div class="mt-auto" style="margin: 0.2rem;">
                            <hr>
                            
                            {% if request.user.is_authenticated %}

                                {% if post.id in upvoted_posts %}
                                    <a href="/detail/{{post.id}}/upvote" role="button"><img class="scale-hover" src="{% static 'img/upvote_fill.png' %}" alt=""></a>{{post.upvotes}} |
                                {% else %}
                                    <a href="/detail/{{post.id}}/upvote" role="button"><img class="scale-hover" src="{% static 'img/upvote.svg' %}" alt=""></a>{{post.upvotes}} |
                                {% endif %}

                                {% if post.user == request.user %}
                                    <a href="{{ post.get_update_url }}" class="btn btn-primary button_shadow" role="button">Update</a>
                                    <button type="button" class="btn btn-danger button_shadow" data-bs-toggle="modal" data-bs-target="#modal_{{ post.id }}">Delete</button>
                                {% endif %}
                                <small>{{ post.date|timesince}}</small>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div>
                <hr>
                <br>
                <h3>Comment: </h3>
                {% include 'post_templates/comment.html' %}

                {% for comment in post.comments.all%}
                    <hr>
                    <h4> {{ comment.name }} <span style="font-size: 0.8rem;">{{ comment.created_date|timesince}} ago</span></h4>
                    <p>> {{ comment.content }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}