
{% extends 'base_search.html'%}
{% load static %}
{% load timesince_shortner %}
{% block body%}



<div class="container">             
    <div class="row row-cols-1 row-cols-md-3" style="margin-top: 1rem;">
        {% for post in posts %}
        <div class="col d-flex mt-3">
            <div class="card post_body w-100 d-flex flex-column justify-content-between" style="height: 100%;"> 
                <div class="caption flex-grow-1 d-flex flex-column">
                    
                    <div style="position: relative; flex-grow: 1; overflow: hidden; overflow-wrap: break-word;">
                        <a href="{{ post.get_absolute_url }}"><span class="div_link"></span></a>

                        
                        
                        <div class="card-header mb-2">
                            <h3 class="post_title">
                                {{ post.title }}
                            </h3>
                            <h6 class="post_title">
                                OP: {{ post.user.username }}
                            </h6>
                        </div>                      
                        {% if post.video %}
                            <video src="{{ post.video.url }}" alt="Post video" class="img-thumbnail" width="500" controls></video>
                        {% else %}                            
                            {% if post.image%}
                                <img src="{{ post.image.url }}" alt="Post Image" class="img-thumbnail" style="max-height: 200px;">
                            {% endif %}
                        {% endif %}

                        <div class="card-header mt-2" style="position: relative;">
                            {{ post.desc|safe|linebreaks|truncatechars:150 }}
                        
                            {% if post.video %}
                                {% if post.image%}
                                    <small>Show More</small>
                                {% endif %}
                            {% endif %}
                        </div>
                        
                        <div class="cloud_container"></div> <!-- creates card clouds -->
                    </div>

                    <div class="d-flex mt-auto card-header" style="margin: 0.2rem;">
                        
                        {% if request.user.is_authenticated %}

                            {% if post.id in upvoted_posts %}
                                <a href="{% url 'post:upvote_post' post.id %}?page={{ posts.number }}" role="button"><img class="scale-hover" src="{% static 'img/upvote_fill.png' %}" alt=""></a>{{post.upvotes}} 
                            {% else %}
                                <a href="{% url 'post:upvote_post' post.id %}?page={{ posts.number }}" role="button"><img class="scale-hover" src="{% static 'img/upvote.svg' %}" alt=""></a>{{post.upvotes}} 
                            {% endif %}

                            <img class="ms-2" src="{% static '/img/eye.svg' %}" alt="">{{ post.post_views }} 

                            {% if post.user == request.user %}
                                <div class="ms-auto">
                                    <a href="{{ post.get_update_url }}"><img class="paginator-arrows" src="{% static '/img/post_action/edit.svg' %}" alt="Edit Post"></a>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal_{{ post.id }}"><img class="paginator-arrows" src="{% static '/img/post_action/delete.svg' %}" alt="Delete Post"></a>
                                </div>
                            {% endif %}
                            <div class="ms-auto">
                                <small data-toggle="tooltip" data-placement="top" title="{{post.date}}">{{ post.date|timesince_single_unit }} Ago</small>
                            </div>             
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>

            <!-- Modal post delete -->
            <div class="modal fade" id="modal_{{ post.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ post.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel_{{ post.id }}">Delete Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary button_shadow" data-bs-dismiss="modal">No</button>
                            {% if request.user.is_authenticated %}
                                <a href="{{ post.get_delete_url }}" class="btn btn-danger button_shadow" role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

        <div class="paginator-blog paginator-fixed">
            <div class="pagination justify-content-center mt-5 m-4">
                <span class="step-links">

                    {% if posts.has_previous and posts.has_next %}
                        <a  href="?page=1"><img class="paginator-arrows" src="{% static 'img/arrows/double_left.svg' %}" alt=""></a>
                        <a  href="?page={{ posts.previous_page_number }}"><img class="paginator-arrows"  src="{% static '/img/arrows/left.svg' %}" alt=""></a>
                        
                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        <a  href="?page={{ posts.next_page_number }}"><img class="paginator-arrows" src="{% static '/img/arrows/right.svg' %}" alt=""></a>
                        <a   href="?page={{ posts.paginator.num_pages }}"><img class="paginator-arrows" src="{% static 'img/arrows/double_right.svg' %}" alt=""></a>
                    {% elif posts.has_previous %}

                        <a  href="?page=1"><img class="paginator-arrows" src="{% static 'img/arrows/double_left.svg' %}" alt=""></a>
                        <a  href="?page={{ posts.previous_page_number }}"><img class="paginator-arrows"  src="{% static '/img/arrows/left.svg' %}" alt=""></a>
                        
                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        <a><img class="paginator-arrows-disabled" src="{% static '/img/arrows/right.svg' %}" alt=""></a>
                        <a><img class="paginator-arrows-disabled" src="{% static 'img/arrows/double_right.svg' %}" alt=""></a>

                    {% elif posts.has_next %}

                        <a><img class="paginator-arrows-disabled" src="{% static 'img/arrows/double_left.svg' %}" alt=""></a>
                        <a><img class="paginator-arrows-disabled"  src="{% static '/img/arrows/left.svg' %}" alt=""></a>

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </span>

                        <a  href="?page={{ posts.next_page_number }}"><img class="paginator-arrows" src="{% static '/img/arrows/right.svg' %}" alt=""></a>
                        <a   href="?page={{ posts.paginator.num_pages }}"><img class="paginator-arrows" src="{% static 'img/arrows/double_right.svg' %}" alt=""></a>


                    {% endif %}
                </span>
            </div>
        </div>
    </div>


<script>/*
    document.querySelectorAll('.cloud_container').forEach(function(container) {
        const cloud_image = [
            "{% static '/img/wallpaper/cloud1.png' %}",
            //"{% static '/img/wallpaper/cloud2.png' %}",
            "{% static '/img/wallpaper/cloud3.png' %}",
            "{% static '/img/wallpaper/cloud4.png' %}",
        ];

        const cloud_count = 1;

        for(let i = 0; i < cloud_count; i++){
            const cloud = document.createElement("img");
            cloud.src = cloud_image[Math.floor(Math.random() * cloud_image.length)];

            cloud.className = "cloud";

            cloud.style.left = Math.random() * 30 + "%";
            cloud.style.top = Math.random() * 30 + "%";

            cloud.style.scale = (Math.random() + 1) * 0.3;

            cloud.style.position = "absolute";

            container.appendChild(cloud);
        }
    });*/
</script>

{% endblock%}
